//  color

$color-zero: #ffffff;
$color-one: #f9f6f2;
$color-two: #e9e5e0;
$color-three: #38383a;
$color-four: #333333;
$color-five: #000000;

$color-zero: #1a1e1b;
$color-one: #585d59;
$color-two: #3a403b;
$color-three: #ffe7a9;
$color-four: #ffe194;
$color-five: #c30202;
$color-six: #620101;

$gray-50: #f8faf9;
$gray-100: #eaefed;
$gray-200: #dbe3df;
$gray-300: #a1aca7;
$gray-400: #87938e;
$gray-500: #6d7975;
$gray-600: #545f5a;
$gray-700: #3c4440;
$gray-800: #222a27;
$gray-900: #03100a;
